<!DOCTYPE html>
<html>
<head>
    <!-- b[head] { -->
    <title>My Site - <!-- v[title] --></title>
    <link href="<!-- v[rootDir] -->templates/site/styles.css?v<!-- v[fileCacheFlag] -->" type="text/css" rel="stylesheet">
    <link href="<!-- v[rootDir] -->makers/styles.css?v<!-- v[fileCacheFlag] -->" type="text/css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="<!-- v[rootDir] -->makers/js/popupMaker.lib.js?v<!-- v[fileCacheFlag] -->"></script>
    <script type="text/javascript" src="<!-- v[rootDir] -->js/template.js?v<!-- v[fileCacheFlag] -->"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.1/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.1/highlight.min.js"></script>
    <!-- } b[head] -->
</head>
<body>
<!-- b[js] { -->
<script type="text/javascript">
</script>
<!-- } b[js] -->
    
    <!-- b[header] { -->
    <header>
        <div class="logo"><a href="<!-- v[rootDir] -->">&#9000; My Site</a></div>
    </header>
    <!-- } b[header] -->
    
    <section class="topMenu">
        <div class="menuItems">
            <div><a href="/">Главная</a></div>
        </div>
    </section>
    
    <section class="pageContent">
        <div class="content">
        <!-- b[page] { -->
        <!-- v[content] -->
        <!-- } b[page] -->
        </div>
    </section>
    
    <!-- b[footer] { -->
    <footer>
        <div>&copy; <a href="#">My Site</a> <!-- v[year] --></div>
    </footer>
    <!-- } b[footer] -->
</body>
</html>